<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>408739942906-36gmaciprqkq178hfdpvd96f8e77n7na.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAitXycfdpYNAizFibYZ5sEC78Dfjy26oQ</string>
	<key>GCM_SENDER_ID</key>
	<string>408739942906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.the.captain.taxis</string>
	<key>PROJECT_ID</key>
	<string>the-captain-taxis</string>
	<key>STORAGE_BUCKET</key>
	<string>the-captain-taxis.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408739942906:ios:dbcd28a9c8fcffc9c8d443</string>
</dict>
</plist>